<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for("static", filename="styles.css") }} />
    </head>
    <body>
        <img id="logo" src="/static/spotify_logo.png" />
        <div class="content">
            <form action={{ url_for('findArtist') }} method = "POST">
                <h2>Search for an Artist <input type = "text" id="textbox" name = "artist_search" /></h2>
                <p><input type = "submit" value = "Submit" /></p>
            </form>
            <a href={{track_href}} target="_blank" >
                <img id="albumcover" src={{image}} title= "Click me to listen to the full song!"/>
            </a>
            <h1>{{track}}</h1>
            <h3 id = "name"> <img id = "pro_pic" src = {{artist_pic}} />  {{name}}</h3>
            <audio controls>
                <source src={{prev_url}} type="audio/mpeg">
                <source src={{prev_url}} type="audio/ogg">
            </audio>
            <br>
            <a href = {{lyrics_url}}>
                <h3>Click here to view song lyrics!</h3>
            </a>
            <a href={{ url_for('recommendations') }} >
                <h3>Click here to view similar songs!</h3>
            </a>
        </div>
    </body>
</html>