<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for("static", filename="styles.css") }} />
    </head>
    <body>
        <img id="logo" src="https://assets.stickpng.com/images/59b5bb466dbe923c39853e00.png" />
        <div class="content">
            <a href={{track_href}} target="_blank" >
                <img id="albumcover" src={{image}} title= "Click me to listen to the full song!"/>
            </a>
            <h1>{{track}}</h1>
            <h3 id = "name"> <img id = "pro_pic" src = {{artist_pic}} />  {{name}}</h3>
            <audio controls>
                <source src={{prev_url}} type="audio/mpeg">
                <source src={{prev_url}} type="audio/ogg">
            </audio>
            <br>
            <a href={{ url_for('recommendations') }} >
                Click here to view similar songs!
            </a>
        </div>
    </body>
</html>