<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for("static", filename="styles.css") }} />
    </head>
    <body>
        <img id="logo" src="https://assets.stickpng.com/images/59b5bb466dbe923c39853e00.png" />
        <div class="content">
            <img id="albumcover" src={{image}} />
            <h1>{{track}}</h1>
            <h3>{{name}}</h3>
            <audio controls>
                <source src={{prev_url}} type="audio/mpeg">
                <source src={{prev_url}} type="audio/ogg">
            </audio>
        </div>
    </body>
</html>