<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href={{ url_for("static", filename="styles.css") }} />
    </head>
    <body>
        <div id ="recc">
            <img id="logo" src="/static/spotify_logo.png" />
            <h1>Some similar songs to {{global_track_name}} you might like!</h1>
                {% for key, values in recc_songs.items() %}
                    <a href = {{values}}  target="_blank" >
                        {{key}}
                    </a>
                    <br>
                {% endfor %}
            <a href = {{url_for("hello_world")}} >
                <h3>Look at another top song by one of Tejas' favorite artists!</h3>
            </a>
            
        </div>
    </body>
</html>